<div class="container">
  <h1> CodeX <sup>TM</sup> </h1>&copy;2023 codeX .All rights reserved
  <p id="version"> Version:1.0.0</p>
  <br>
  <p> This is a beta version of application.We keep it as simple as
    possible.More advance version comming soon... </p>

  <h3>What's new in this version</h3>
  <ul class="myUL" style="list-style-type: '👉 ';">
    <li>Simple user interface</li>
    <li>Time challenge</li>
    <li>DarkMode Supported(As per System Setting)</li>
  </ul>
  <p>We are upgrading the application if you see any error feel free to contact us.</p>

  <a href="mailto: lipusahoooficial@gmail.com">
    <i class="fa fa-envelope" style="font-size:25px;color:red"></i>
    Send Email</a>
  <br><br>
  <a href="https://www.facebook.com/profile.php?id=100010820520616&mibextid=ZbWKwL" class="fa fa-facebook"></a>
  <a href="https://x.com/LipuSah46566704" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-youtube"></a>
  <a href="https://instagram.com/infinity_ignite?utm_source=qr&igshid=YzU1NGVlODEzOA==" class="fa fa-instagram"></a>
</div>